# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ambientes
.env
.venv
env/
venv/

# Conda
*.conda

# Datos grandes
*.csv.gz
*.h5
*.parquet

# OS
.DS_Store
Thumbs.db
